@import "@/styles.scss";

.ion-header {
    --background: var(--bg-main-gradient);
    
    .avatar {
        width: 35px;
        height: 35px;
    }
}

.ion-content {
    /*
        --background: url('/images/modal.png') no-repeat cover fixed center;
    
        background: url('/assets/images/modal.png') no-repeat fixed center; 
        background-size: cover;
    */
        
        --background: var(--bg-content);
        background: var(--bg-content);
    }