@import url('@/styles.scss');
@import "@/styles.scss";

.ion-content {
    .nivel {
        @include base-ion-item(5px, var(--bg-secondary));

        &::part(text),
        &::part(placeholder) {
            padding-left: 15px;
        }
        
        &::part(icon) {
            padding-right: 10px;
        }
    }

    .slider {

        .ion-progress-bar {
            padding: 5px;
            --background: #787878;
            --progress-background: var(--bg-primary);
            position: relative;
        }

        .time {
            display: flex;
            justify-content: end;
        }
    }

}