@import url('@/styles.scss');


.ion-content {
    .nivel {
        border: 1px solid var(--bg-main);
        border-radius: 5px;
        --background: var(--bg-secondary);
        background: var(--bg-secondary);

        &::part(text),
        &::part(placeholder) {
            padding-left: 15px;
        }
        
        &::part(icon) {
            padding-right: 10px;
        }
    }

    .slider {

        .ion-progress-bar {
            padding: 5px;
            --background: #787878;
            --progress-background: var(--bg-primary);
            position: relative;
        }

        .time {
            display: flex;
            justify-content: end;
        }
    }

    .swiper {
        padding: 0 10% !important;
    }

}