@import "@/styles.scss";

.ion-header {
    --background: var(--bg-main-gradient);
}

.ion-content {      
    --background: url('assets/images/modal.png') no-repeat cover fixed center;

    background: url('assets/images/modal.png') no-repeat fixed center; 
    background-size: cover;

    ion-segment-button {
        text-transform: capitalize;
        font-family: 'arya-bold';
        font-weight: bold;
        color: #444;
        margin-bottom: 20px;
        min-height: 0;
        --indicator-color: var(--color-main);

        ion-label {
            margin-bottom: 10px;
            margin-top: 10px;
        }
    }
}