@import "@/styles.scss";

.ion-header {
    --background: var(--bg-white);
}

.ion-content {
/*
    --background: url('/images/modal.png') no-repeat cover fixed center;

    background: url('/assets/images/modal.png') no-repeat fixed center; 
    background-size: cover;
*/

    --background: var(--bg-content);
    background: var(--bg-content);

    ion-segment-button {

        border-radius: 50rem;
        text-transform: capitalize;
        font-family: 'Mente360-bold';
        font-weight: bold;
        color: var(--color);
        margin-bottom: 15px;
        min-height: 0;
        --indicator-color: transparent;
        --background-checked: var(--bg-p-secondary);

        ion-label {
            font-weight: 500;
            margin-bottom: 10px;
            margin-top: 10px;
        }

        &:global(.segment-button-checked) {
            ion-label,
            span {
              color: var(--bg-white) !important;
            }

            span {
                font-size: 18px;
            }
        }
    }
}