.img-content {
    display: flex;
    justify-content: center;
    margin-bottom: 10px;

}

.cancel-btn {
    --background: #fff !important;
    background: #fff !important;
    
    button {
        background: #fff !important;
    }
}