@import "@/styles.scss";

:host {
    --ion-margin: auto;
}

.ion-content {

    box-shadow: none !important;
    -webkit-box-shadow: none !important;
    background: var(--bg-content);
    
    ion-segment-button {
        text-transform: capitalize;
        font-family: 'Roboto-bold';
        font-weight: bold;
        color: var(--color);
        --indicator-color: var(--color-main);
    }
}