@import "@/styles.scss";

.ion-content { 
    ion-list {
        background: none;

        ion-item-group {
            background: none;
            --background: var(--bg-secondary);

            ion-item-divider {
                background: none;
                --background: var(--bg-secondary);
                border-bottom: none;
                padding: 0;

                ion-label {
                    color: #787878 !important;
                    font-weight: bold;
                }
            }

            ion-searchbar {
                --border-radius: 5px;
                color: var(--color) !important;

                ion-icon {
                    margin-top: 5px;
                }

                &.search {
                    --ion-color-warning: var(--bg-card);
                }

                input {
                    padding-top: 10px !important;
                    padding-bottom: 10px !important;
                }
            }
        }
    }

    ion-item {
        background: none;
        border: 1px solid var(--bg-main);
        border-radius: 3px;

        &.contact {
            margin-bottom: 5px;

            .item-content {

                display: flex;
                justify-content: space-between;
                flex-grow: 1;

                .item-user {
                    margin: 5px 0;
                    flex-grow: 1;
                    display: flex;
                    flex-direction: column;
                    justify-content: center;

                    span {
                        display: block;
                        text-align: justify;
                        color: #666;
                        
                        &.name {
                            line-height: 16px;
                            font-weight: bold;
                            font-size: 13px;
                        }
                        
                        &.phone {
                            margin-right: 7px;
                            line-height: 1rem;
                            font-size: 12px;
                        }
                    }
                }
    
                .note {
                    display: flex;
                    flex-direction: column;
                    justify-content: center;
    
                    span {
                        font-size: 10px;
                    }
    
                    .unreads {
                        text-align: center;
                        border-radius: 3px;
                        background: var(--bg-main);
                    }
                }
            }
        }
    }

    .chatbox {

        ion-item {
            --border-radius: 5px;

            ion-textarea {
                --padding-top: .5rem;
    
                max-height: 100px;
                overflow: scroll;
            }
        }
    }
}