.momentos {
    background: none;

    .momento {
        --padding-top: 5px;
        --padding-bottom: 5px;
        --padding-start: 5px;
        --padding-end: 5px;
        font-size: .8rem;;
    }
}

.backButton {
    text-decoration: none;
}