@import "@/styles.scss";

.ion-header {
    --background: var(--bg-main-gradient);

    .avatar {
        width: 35px;
        height: 35px;
    }

    .title-container {
        display: flex;
        flex-direction: column; /* Coloca el título encima del status */
        justify-content: center;
        
        .title {
          line-height: 20px;
          margin: 0; /* Elimina el espacio adicional si existe */
        }
        
        .status {
          font-size: 13px;
          color: #999999; /* Color gris claro */
          margin-left: 20px; /* Pequeño espacio debajo del título */          
          margin-top: 2px; /* Pequeño espacio debajo del título */          
          line-height: 15px;
        }
    }
      
}

.ion-content {
/*
    --background: url('/images/modal.png') no-repeat cover fixed center;

    background: url('/assets/images/modal.png') no-repeat fixed center; 
    background-size: cover;
*/
        
    --background: var(--bg-content);
    background: var(--bg-content);
}