@import "@/styles.scss";
@import "@/styles.scss";

.premium {
    background-color: var(--bg-blue);
    border-radius: 5px;

    font-size: 13px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 10px 15px;

    span{
        color: #0286b6 !important;
    }
}

.detalle {
    color: #ffffff !important;
}

.avatar-container {
    margin: auto;
    background-position: 50%;
    background-size: cover;
    height: 50px;
    width: 50px;
    border-radius: 50%;
    border: 1px solid #444;
    overflow: hidden;
}

div.phone {
    border-radius: 0;
    padding: 16px !important;
    background: var(--bg-white) !important;
    min-height: 56px;
    border-bottom: 1px solid var(--ion-color);

    input {
        margin-left: 5px;

        &:focus {
            outline: 0;
        }
    }
}

.profile {
    display: flex;
    justify-content: left;
    background: var(--bg-white);
    
    .info {
        display: flex;
        flex-direction: column;
        align-items: center;
        width: 100%;

        ion-chip {
            color: var(--bg-primary);
            border: none;
            font-weight: bold;
            font-size: 16px;
            margin-top: -2px;
            margin-bottom: -2px;
        }

        ion-note{
            font-weight: normal;
            font-size: 12px;
            color: var(--ion-color);
        }

    }
}

.paddinginfo{
    padding: 8px;
}

.borderchip{
    border-left: 1px solid #E1E6EB;
    border-right: 1px solid #E1E6EB;
}

.avatar{
    width: 90px;
    height: fit-content;
}

ion-input.profile,
ion-select.profile {
    text-align: justify;

    input {
        padding-left: 10px !important;
        padding-right: 10px !important;
    }
}

.date-modal {
    --height: min(80vh, 410px);
    --width: 90%;
    --border-radius: 5px;
    --box-shadow: 0 10px 15px -3px rgb(0 0 0 / 0.1), 0 4px 6px -4px rgb(0 0 0 / 0.1);
}

.detailinfo{
    text-align: justify;
    font-size: 12px !important;
    margin-left: 10px;
}

.titlemargin{
    margin-bottom: 15px;
    margin-top: 10px;
}