.avatar-container {
    margin: auto;
    background-position: 50%;
    background-size: cover;
    height: 50px;
    width: 50px;
    border-radius: 50%;
    border: 1px solid #444;
    overflow: hidden;
}

ion-item {
    --background: none;

    ion-label {
        text-align: center;
    }
}

div.phone {
    border-radius: 0;
    --border-color: var(--bg-main);
    border: 1px solid var(--ion-background-color-step-300, #b3b3b3);
    padding: 16px !important;

    input {
        background: none;
        border: none;
        margin-left: 5px;

        &:focus {
            outline: 0;
        }
    }
}

.profile {
    display: flex;
    justify-content: left;

    .info {
        display: flex;
        flex-direction: column;
        align-items: center;
        width: 100%;

        ion-chip {
            border-radius: 3px;
            border: 1px solid var(--bg-main);
        }
    }
}

ion-input.profile,
ion-select.profile {
    text-align: justify;

    input {
        padding-left: 10px !important;
        padding-right: 10px !important;
    }
}

.date-modal {
    --height: 53%;
    --width: 90%;
    --border-radius: 5px;
    --box-shadow: 0 10px 15px -3px rgb(0 0 0 / 0.1), 0 4px 6px -4px rgb(0 0 0 / 0.1);
}