.lista {
    --background: none;
    background: none;

    ion-searchbar {
        --border-radius: 5px;

        &.search {
            --ion-color-warning: var(--bg-card);
        }

        ion-icon {
            margin-top: 4px;
            opacity: .25;
        }

        input {
            padding-top: 10px !important;
            padding-bottom: 10px !important;
        }
    }

    ion-item {
        background: none;
        border: 1px solid var(--bg-main);
        --border-radius: 5px;
        
        ion-note {
            font-size: 15px;
            font-weight: bold;
            align-self: center;
            padding-top: 14px;
            padding-bottom: 14px;
        }

        &.contact {
            margin-bottom: 5px;

            ion-label {
                margin: 5px 0;
                
                span {
                    display: block;
                    text-align: justify;
                    color: #666;
                    &.name {
                        font-weight: bold;
                        font-size: 15px;
                    }
                    
                    &.phone {        
                        font-size: 14px;
                    }
                }
            }
            
        }
    }
    
}