@import "@/styles.scss";

.lista {
    --background: none;
    background: none;

    ion-searchbar {
        @include searchbar-style;
    }

    ion-item {
        @include base-ion-item(3px);
        
        ion-note {
            font-size: 15px;
            font-weight: bold;
            align-self: center;
            padding-top: 14px;
            padding-bottom: 14px;
        }

        &.contact {
            margin-bottom: 5px;

            ion-label {
                @include user-info-label;
            }
            
        }
    }
    
}