ion-list {
    --background: none;
    background: none;


    ion-searchbar {
        --border-radius: 25px;

        input {
            padding-top: 10px !important;
            padding-bottom: 10px !important;
        }
    }
    
}