@import "@/styles.scss";

.cards {
    background-repeat: no-repeat;
    background-size: cover;

    .custom-accordion {
        border: 1px solid #ccc;
        border-radius: 8px;
        overflow: hidden;
        margin-bottom: 10px;
        box-shadow: 0 3px 15px rgba(0,0,0,0.08);
    }
    
    ion-item {
        --background: inherit;
        font-size: 1.1rem;
        
        ion-icon {
            font-size: 1.6rem;
            transition: none !important;
            transform: none !important;
            
            
            &.trofeo {
                color: var(--bg-primary) !important;
            }

            &.trofeo-gris {
                color: #8f8e8e !important;
            }
        }

    }
}