@import "@/css/_common.scss";

.ion-content { 
    ion-list {
        background: none;

        ion-item-group {
            --background: var(--bg-secondary);

            ion-item-divider {
                @include item-divider-style;
            }
        }
    }

    ion-item {
        @include base-ion-item(3px);

        ion-label {
            text-align: justify;
        }
    }

    .version {
        font-size: .8rem;
    }
}