@import "@/styles.scss";

.emoji-modal::part(content) {
    height: 100%;
    display: flex;
    flex-direction: column;
    border-radius: 20px 20px 0 0;
    background: var(--ion-background-color, #fff);
    overflow: hidden;
}

.popover {
    --width: auto !important;
    --background: transparent;
    --box-shadow: none;
    --max-width: none;
    --min-width: unset;

    .quick-reactions {
        position: relative;
        background: #fff;
        border-radius: 30px;
        padding: 6px 10px;
        display: flex;
        align-items: center;
        gap: 8px;
        
        .reaction-button {
            font-size: 22px;
            cursor: pointer;
            user-select: none;
        }
        
        .add-reaction-button {
            background: #f1f1f1;
            width: 30px;
            height: 30px;
            text-align: center;
            border-radius: 50%;
            font-size: 22px;
        }
    }
}

.ion-content { 
    height: 100%;
    display: flex;
    flex-direction: column;

    .border-radius-left {
        border-top-left-radius: 5px;
        border-bottom-left-radius: 5px;
    }

    .border-radius-right {
        border-top-right-radius: 5px;
        border-bottom-right-radius: 5px;
    }

    ion-list {
        background: none;
        flex-grow: 1;
        overflow: auto;
    }

    ion-item-sliding {
        display: flex;
        flex-direction: column;
    }

    .reactions {
        position: relative;
        display: flex;
        background-color: #f4f4f4;
        border: 1px solid #ddd;
        border-radius: 15px;
        width: fit-content;
        align-items: center;
        gap: 3px;
        margin-top: -6px;
        z-index: 999;
        padding: 1px 4px;

        &.sender {
            align-self: flex-end;
        }

        div {
            span {
                display: inline-flex;
                align-items: center;
                justify-content: center;
                border-radius: 999px;
    
                &.count {
                    font-size: 10px;
                    margin-right: 5px;
                }
            }
        }

    }

    ion-item {
        @include chat-message(5px, var(--bg-white), 0);        
    }

    .chatbox {
        @include chat-input();
        border-top-left-radius: 10px !important;
        border-top-right-radius: 10px !important;
        background: var(--bg-input-chat) !important; 
    }

    ion-button {
        span {
            color: #2E2E2E !important;
        }
    }
}