@import "@/styles.scss";
@import "@/css/_common.scss";

.ion-content { 
    ion-list {
        background: none;

        ion-item-group {
            background: none;
            --background: var(--bg-secondary);

            ion-item-divider {
                @include item-divider-style;
            }

            ion-searchbar {
                @include searchbar-style;
            }
        }
    }

    ion-item {
        @include base-ion-item(3px);
        
        ion-note {
            font-size: 15px;
            font-weight: bold;
            align-self: center;
            padding-top: 14px;
            padding-bottom: 14px;
        }

        &.contact {
            margin-bottom: 5px;

            .item-content {

                display: flex;
                justify-content: space-between;
                flex-grow: 1;

                ion-label {
                    @include user-info-label;
                }
            }
            
        }
    }
}