@import "@/styles.scss";

.ion-header {
  --background: var(--bg-main-gradient);
}

.ion-content {      
  --background: url('assets/images/modal.png') no-repeat cover fixed center;

  background: url('assets/images/modal.png') no-repeat fixed center; 
  background-size: cover;
}

ion-backdrop {
  background: var(--ion-color-dark);
  opacity: 0.3;
}