@import "@/styles.scss";

.ion-header {
  --background: var(--bg-main-gradient);

  .large-icon {
    
    font-size: 24px !important;
  }

  .has-notification {
    width: 10px;
    height: 10px;
    border-radius: 50%;
    background-color: #ff0000;
    position: absolute;
    right: 0;
    top: 0;
  }
}

.ion-content {      
  --background: url('assets/images/modal.png') no-repeat cover fixed center;

  background: url('assets/images/modal.png') no-repeat fixed center; 
  background-size: cover;
}

ion-backdrop {
  background: var(--ion-color-dark);
  opacity: 0.3;
}