@import "@/styles.scss";

.custom-toast {
    position: absolute;
    background: rgba(28,28,30);
    min-height: 48px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    bottom: 50px;
    z-index: 90;
    width: 100%;
    padding: 5px 0;


    .title {
        padding-left: 10px;
        font-size: 12px !important;
        --color: #aaa !important;
        color: #aaa !important;
    }

    .categoria {
        padding-left: 10px;
        font-size: 9px !important;
    }

    ion-icon {
        font-size: 1.65rem !important;
        color: #aaa !important;
    }

}

.custom-close {
    font-size: 24px;
    color: #4b4a50;
    position: absolute;
    top: 0;
    left: 0;
    z-index: 99;
}


.unread-indicator {
    width: calc(100% - 16px);
    height: 5px;
  
    position: absolute;
  
    inset-inline-start: 12px;
    bottom: 0;
    left: 0;

    ion-progress-bar {
        height: 2px;
    }
  }
