@import "@/css/_common.scss";

.ion-content {
    .premium {
        background-color: var(--bg-main);
        border-radius: 5px;
    
        font-size: 13px;
        display: flex;
        justify-content: space-between;
        align-items: center;
        padding: 5px 15px;
    }
    
    .detalle {
        color: #ffffff !important;
    }
    
    ion-list {
        background: none;

        ion-item-group {
            --background: var(--bg-secondary);

            ion-item-divider {
                @include item-divider-style;
            }
        }
    }

    ion-item {
        @include base-ion-item(5px);

        ion-label {
            text-align: justify;
        }
    }

    .version {
        font-size: .8rem;
    }
}