@import "@/styles.scss";

.ion-content {
    @include descripcion();

    .premium {
        background-color: var(--bg-main);
        border-radius: 5px;
    
        font-size: 13px;
        display: flex;
        justify-content: space-between;
        align-items: center;
        padding: 5px 15px;
    }

    .suscrito {
        --background: none;
        background: none;
    }
}