@import "@/styles.scss";

.card-calendar {
    background: radial-gradient(#f1c689 25%, #d3d2d2 100%);

    ion-card-content {
        .header {
            display: flex;
            justify-content: space-between;

            div {
                display: flex;
                align-items: center;
            }
        }

        .daysOfWeek {
            display: flex;
            align-items: center;
            justify-content: space-between;
        }

        ion-chip {
            background: var(--bg-secondary);
            
            &.today {
                background: var(--bg-main);
                box-shadow: inset 0px 1px 4px rgba(0,0,0,.25);
            }
        }

    }
}
.cards {
    background-repeat: no-repeat;
    background-size: cover;
    .card-main {
        background: var(--bg-card);
    
        margin: 30px 13px;
    
        ion-card-header {
            ion-card-content {
                display: flex;
                justify-content: space-between;
                img {
                    width: 30px;
                }
    
                strong {
                    font-size: 16px;
                }

                ion-icon {
                    font-size: 20px;
                }
            }
        }
    
        ion-card-content {
            ion-button {
                --padding-start: 50px;
                --padding-end: 50px;
            }
        }
    }
}

ion-backdrop {
    background: var(--ion-color-dark);
    opacity: 0.4;
}