@import "@/styles.scss";

ion-backdrop {
    background: var(--ion-color-dark);
    opacity: 0.4;
}

.weeklytaskmodal{
    background: #edf7f6;
}


.dailymessagemodal{
    background: #fcf7eb;
}

.nightaudiomodal{
    background: #f5f7f9
}

.sosmodal{
    background: #fbf5f4;
}

.textp {
  white-space: pre-line;
}