@import "@/styles.scss";

.card-calendar {
    background: var(--color-secondary-gradient);
    border: 1px solid var(--ion-background-color-step-300, #b3b3b3);

    ion-card-content {
        .header {
            display: flex;
            justify-content: space-between;

            div {
                display: flex;
                align-items: center;

                img {
                    filter: invert( var(--invert) );
                }
            }
        }

        .daysOfWeek {
            display: flex;
            align-items: center;
            justify-content: space-between;
        }

        ion-chip {
            border: 1px solid #eee;
            border-radius: 5px;
            
            &.today {
                background: var(--bg-main);
            }
        }

    }
}

.cards {
    background-repeat: no-repeat;
    background-size: cover;

    .card-main {
        background: none;
        border: 1px solid var(--ion-background-color-step-300, #b3b3b3);
        box-shadow: none;
        margin: 30px 13px;
    
        ion-card-header {
            ion-card-content {
                display: flex;
                justify-content: space-between;
                color: var(--color);


                img {
                    width: 25px;
                    filter: invert( var(--invert) );
                }
    
                strong {
                    font-size: 14px;
                }

                ion-icon {
                    font-size: 20px;
                }
            }
        }
    
        ion-card-content {
            ion-button {
                --padding-start: 50px;
                --padding-end: 50px;
            }
        }
    }
}

ion-backdrop {
    background: var(--ion-color-dark);
    opacity: 0.4;
}