@import "@/styles.scss";

.content {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 100%;

    .example-modal {
        --max-height: 61%;
    }
    
    .logo {
        width: 50px;
    }

    .ready {
        font-size: 16px;
        font-weight: bold;
        color: var(--txt-darkgray);
        margin-top: 15px;
    }
    .name-app{
        font-size: 24px;
        font-weight: bold;
        color: var(--color-main) !important;
        margin-top: -10px;
    }

    .w-100 {
        width: 100%;

        &.caracteristicas {
            --background: none;
            background: none;
        }
    }
}

.ion-text-left{
    font-size: 12px;
}