.avatar-container {
    margin: auto;
    background-position: 50%;
    background-size: cover;
    height: 100px;
    width: 100px;
    border-radius: 50%;
    border: 1px solid #444;
    overflow: hidden;
}

ion-img {
    width: 100px;
}

.logo-google {
    width: 30px;
}

div.login {
    border: 1px solid #aaa;
    border-radius: 2px;
    padding: 16px !important;

    input {
        background: none;
        border: none;
        margin-left: 5px;

        &:focus {
            outline: 0;
        }
    }
}

ion-input.login{
    border-radius: 16px;
    width: 100%;
    text-align: justify;
    
    input {
    }
}

ion-select.login {
    border-radius: 16px;
    width: 100%;
    
    &::part(placeholder),
    &::part(text) {
        font-size: 12px;
        color: #777;
        text-align: justify;
    }
}


.date-modal {
    --height: 53%;
    --width: 90%;
    --border-radius: 5px;
    --box-shadow: 0 10px 15px -3px rgb(0 0 0 / 0.1), 0 4px 6px -4px rgb(0 0 0 / 0.1);
}