
ion-img {
    width: 100px;
}

.logo-google {
    width: 30px;
}

ion-input.login {
    border-radius: 16px;
    width: 100%;
    text-align: justify;
    --background: linear-gradient(#FFCC33, #FFB347);
    
    input {
        padding-left: 10px !important;
        padding-right: 10px !important;
    }
}

ion-select.login {
    border-radius: 16px;
    width: 100%;
    --background: linear-gradient(#FFCC33, #FFB347);

    &::part(placeholder),
    &::part(text) {
        font-size: 14px;
        color: #777;
        text-align: justify;
    }
}


.date-modal {
    --height: 53%;
    --width: 90%;
    --border-radius: 10px;
    --box-shadow: 0 10px 15px -3px rgb(0 0 0 / 0.1), 0 4px 6px -4px rgb(0 0 0 / 0.1);
}