@import "@/styles.scss";

.ion-content { 
    .chips {
        ion-chip {
            font-size: 11px;
            font-weight: 600;
            padding: 5px 12px;

            &.checked {
                --background: var(--bg-main-gradient);
            }
        }

        ion-searchbar {
            --border-radius: 25px;

            input {
                padding-top: 10px !important;
                padding-bottom: 10px !important;
            }
        }
    }
    ion-list {
        background: transparent;
        --background: transparent;
        
        ion-item {
            background: transparent;
            --background: var(--bg-main-gradient);
            --border-radius: 10px;
    
            .titulo {
                font-size: 15px;
            }

            .categoria {
                font-size: .6rem;
            }

            .titulo, .categoria {
                line-height: 15px;
            }

            ion-note {
                font-size: 12px;
                font-weight: bold;
            }
        }
    }

}