@import "@/styles.scss";

.ion-content { 
    .chips {
        
        
        .chip-list {
            
            display: flex;
            overflow-x: auto;
            white-space: nowrap;
            gap: 0px;
            padding-bottom: 10px;
            margin-bottom: 10px;

            ion-chip {
                    flex-shrink: 0;
                    font-size: 11px;
                    font-weight: 600;
                    padding: 5px 12px;
            
                    &.checked {
                        --background: var(--bg-main-gradient);
                    }
                }
        }
    

        ion-searchbar {
            --border-radius: 25px;

            &.search {
                --ion-color-warning: var(--bg-card);
            }

            ion-icon {
                margin-top: 4px;
                opacity: .25;
            }

            input {
                padding-top: 10px !important;
                padding-bottom: 10px !important;
            }
        }
    }

    ion-list {
        background: transparent;
        --background: transparent;
        
        ion-item {
            background: transparent;
            --background: var(--bg-main-gradient);
            --border-radius: 10px;

            margin-bottom: 5px;
    
            .titulo {
                font-size: 15px;
            }

            .categoria {
                font-size: .6rem;
            }

            .titulo, .categoria {
                line-height: 15px;
            }

            ion-note {
                font-size: 12px;
                font-weight: bold;
            }
        }
    }

}