.ion-content { 
    ion-list {
        background: none;
        padding-top: 0;
        padding-bottom: 0;

        ion-item-group {
            --background: none;

            ion-item-divider {
                --background: none;
                border-bottom: none;
                padding: 0;

                ion-label {
                    color: #787878 !important;
                    font-weight: bold;
                }
            }
        }
    }

    ion-item {
        background: none;
        border: 1px solid var(--bg-main);
        --border-radius: 5px;
        margin-bottom: 5px;

        div {
            flex-grow: 1;
            padding-top: 10px;
           
            .message {
                text-align: justify;
                line-height: 17px;
                font-size: 12px !important;
                display: block;
            }

            
            .time {
                float: right;
                font-size: 11px;
                text-align: justify;
                color: #666;
            }
        }
    }
}