@import "@/css/_common.scss";

.ion-content { 
    ion-list {
        background: none;
        padding-top: 0;
        padding-bottom: 0;

        ion-item-group {
            --background: none;

            ion-item-divider {
                @include item-divider-style;
            }
        }
    }

    ion-item {
        @include base-ion-item(5px);

        div {
            flex-grow: 1;
            padding-top: 10px;
           
            .message {
                text-align: justify;
                line-height: 17px;
                font-size: 13px !important;
                display: block;
            }

            
            .time {
                margin-top: 8px;
                float: right;
                font-size: 11px;
                text-align: justify;
                color: #666;
            }
        }
    }
}