// Mixin for standard list items
@mixin base-ion-item($radius: 3px, $backgroud: none, $margin: 10px) {
  background: $backgroud;
  --background: $backgroud;

  margin-bottom: $margin;
  border-radius: $radius;

  &::part(native) {
      border-radius: $radius;
      --border-radius: $radius;
      overflow: hidden;
  }
}

// Mixin for list item dividers
@mixin item-divider-style {
  background: none;
  --background: none;
  border-bottom: none;
  padding: 0;

  &.line-divider {
      --background: transparent;
      --inner-padding-end: 0;
      --inner-padding-start: 0;
      min-height: 1px;
      border-bottom: 1px solid var(--color-divider) !important;
      /* color y grosor de la línea */
      margin-top: 0px;
      margin-bottom: 10px;
  }

  ion-label {
      color: var(--text-muted);
      font-weight: bold;
      font-size: 15px !important;
  }
}

// Mixin for search bars
@mixin searchbar-style {
  --border-radius: 5px;
  color: var(--color);

  &.search {
      --ion-color-warning: var(--bg-card);
  }

  ion-icon {
      margin-top: 5px;
  }

  input {
      padding-top: 10px !important;
      padding-bottom: 10px !important;
  }
}

// Common style for user/contact info in a list item
@mixin user-info-label {
  margin: 5px 0;
  
  span {
      display: block;
      text-align: justify;
      color: var(--text-light);

      &.name {
          line-height: 16px;
          font-weight: bold;
          font-size: 14px;
      }
      
      &.phone {
          line-height: 1rem;
          font-size: 13px;
          background: var(--bg-white) !important;
          border: none;
      }
  }
}


@mixin cardComunidad {
ion-card {
  --background: var(--bg-white);

  .card-header {
      display: flex;
      align-items: center;
      gap: 12px;
      padding: 8px 0;

      ion-avatar {
          width: 48px;
          height: 48px;
          border-radius: 50%;
          overflow: hidden;
          box-shadow: 0 0 4px rgba(0, 0, 0, 0.1);
      }

      .card-info {
          display: flex;
          flex-direction: column;

          ion-card-title {
              font-size: 16px;
              font-weight: 600;
              color: var(--ion-color-dark);
          }

          ion-card-subtitle {
              font-size: 13px;
              color: var(--ion-color-medium);
              margin-top: 2px;
          }
      }
  }

}
}

@mixin descripcion {
  .texto {
      display: -webkit-box;
      -webkit-box-orient: vertical;
      -webkit-line-clamp: 2;
      overflow: hidden;
      text-overflow: ellipsis;
      margin-top: 0;
      margin-bottom: 2px;
      
      &.expandido {
          display: block;
          -webkit-line-clamp: unset;
          overflow: visible;
      }
  }

  .btn-leer {
      background: none;
      border: none;
      color: var(--bg-primary);
      cursor: pointer;
      padding: 0;
      font-size: 0.9rem;
  }
}

// Mixin for Chat Inbox
@mixin chat-message(
$radius: 15px,
$bg: var(--bg-white),
$padding: 0
) {

@include base-ion-item($radius, $bg, $padding);

&.message {
  width: 90%;
  font-size: 0.9rem;
  margin-top: 5px;
  color: #2d2d2d;

  &.sender {
    align-self: flex-end;
    color: var(--color);
    border: 1px solid var(--bg-p-secondary);
    background: var(--bg-p-tertiary);

    .message, .time {
      color: var(--color-dark) !important;
    }
  }

  &.receiver {
    border: 1px solid #78849a;
  }

  div {
    @include user-info-label;

    flex-grow: 1;
    padding-top: 5px;

    &.reply-preview {
      padding: 4px 8px;
      border-left: 3px solid var(--bg-p-secondary);
      margin-bottom: 4px;
      font-size: 11px;
      color: #666;
      background: rgba(249, 249, 249, 0.5);
      border-radius: 5px;
      display: flex;
      flex-direction: column;

      .reply-name {
        font-weight: bold;
      }

      ion-text {
        color: var(--color-dark) !important;
      }
    }

    .message {
      display: block;
      line-height: 16px;
    }

    .time {
      float: right;
      font-size: 0.6rem;
    }
  }

  &.highlight {
    --background: rgba(255, 187, 0, 0.7);
    transition: background-color 0.5s ease;
  }
}
}

// Mixin for Chat Input
@mixin chat-input(
$padding: 10px,
$bg-color: var(--bg-base),
$col-bg: #fff
) {
padding: $padding;
padding-bottom: calc(var(--ion-safe-area-bottom) + $padding) !important;
background: $bg-color;
--background: $bg-color;

ion-col {
  background: $col-bg !important;
  --background: $col-bg !important;
}

ion-item {
  --border-radius: 5px;
  --padding-start: 10px;
  --inner-padding-end: 10px;
  --margin: 0;
  --background: none;
  background: none;
  border-color: transparent;

  .wrapper {
    width: 100%;
    display: flex;
    flex-direction: column;
    gap: 4px;

    .reply-bar {
      position: relative;
      padding: 8px;
      margin-top: 10px;
      background: rgba(249, 249, 249, 0.5);
      border-left: 3px solid var(--bg-p-secondary);
      font-size: 11px;
      display: flex;
      flex-direction: column;
      justify-content: space-between;
      border-radius: 5px;

      ion-text {
        &.name {
          font-weight: bold;
        }
      }

      ion-icon {
        position: absolute;
        right: 3px;
        top: 3px;
        width: 14px;
        height: 14px;
        padding: 0;
        margin: 0;
      }
    }

    ion-textarea {
      --padding-top: 1rem;
      max-height: 100px;
      overflow: scroll;
      color: var(--color-dark);

      textarea {
        line-height: 18px;
      }
    }
  }
}
}