@import "@/styles.scss";

.ion-content { 
        
    .card {
        --background: none;
        box-shadow: none;

        ion-card-header {
            .donwload-icon {
                width: 20px;
                height: 20px;
            }
            
            .share-icon {
                width: 20px;
                height: 20px;
            }
        }
        
        ion-card-subtitle {
            display: flex;
            flex-direction: column;
            
            ion-text {
                font-size: 15px;
                color: var(--bg-main);
                font-weight: bold;
            }

            span {
                font-size: 10px;
            }

            .chip-list {
            
                display: flex;
                overflow-x: auto;
                white-space: nowrap;
                gap: 0px;
                padding-bottom: 10px;
                margin-bottom: 10px;
    
                ion-chip {
                        flex-shrink: 0;
                        font-size: 11px;
                        font-weight: 600;
                        padding: 5px 12px;
                        border-radius: 5px;
                        --background: #ffedbd;
                        border: 1px solid var(--bg-main);
                
                        ion-icon {
                            margin-inline: 0 10px;
                        }
                    }
            }
        }

        ion-card-content {
            
            .unread-indicator {
                margin-top: 15px;
                height: 5px;
                
                ion-progress-bar {
                    height: 2px;

                }
              }

            .time {
                display: flex;
                justify-content: space-between;
            }

            .controls {
                display: flex;
                justify-content: space-around;
                align-items: center;

                .play {
                    border-radius: 50%;
                    padding: 5px;
                    width: 60px;
                    height: 60px;
                    display: flex;
                    align-items: center;
                    justify-content: center;
                    font-size: 20px;
                    
                    background: var(--bg-main);
                    color: #FFF5EC;
                }

                .previous, .next {
                    font-size: 24px;
                    color: var(--bg-main);
                }
            }
        }
    }

}