@import "@/styles.scss";
@import "@/styles.scss";

.ion-content { 
        
    img{
        border-radius: 20px;
    }

    .card {
        --background: none;
        box-shadow: none;

        ion-card-header {
            .donwload-icon {
                width: 20px;
                height: 20px;
            }
            
            .share-icon {
                width: 20px;
                height: 20px;
            }
        }
        
        ion-card-subtitle {
            display: flex;
            flex-direction: column;
            
            ion-text {
                font-size: 24px;
                color: var(--color-secondary);
                font-weight: bold;
                margin-bottom: 5px;
                margin-top: 1cqmin;
            }

            span {
                font-size: 16px;
            }

            .chip-list {
            
                padding-bottom: 10px;
                margin-bottom: 10px;
    
                ion-chip {
                    @include base-ion-item(5px, var(--bg-chips));
                    
                    flex-shrink: 0;
                    font-size: 11px;
                    font-weight: 600;
                    padding: 5px 10px;
                    color: var(--ion-color) !important;

            
                    ion-icon {
                       margin-inline: 0 10px;
                       color: var(--ion-color) !important;
                    }
                }
            }
        }

        ion-card-content {

            background: var(--bg-player);
            padding-top: var(--ion-padding, 16px);
            border-radius: 10px;
            --color: #fff;
            color: #fff;

            .unread-indicator {
                margin-top: 15px;
                height: 5px;
                
                ion-progress-bar {
                    height: 2px;
                    background:#E1E6EB !important;
                }
              }

            .time {
                display: flex;
                justify-content: space-between;

                span {
                    --color: #fff !important;
                    color: #fff !important;
                }
            }

            .controls {
                display: flex;
                justify-content: space-around;
                align-items: center;

                .play {
                    border-radius: 50%;
                    padding: 5px;
                    width: 60px;
                    height: 60px;
                    display: flex;
                    align-items: center;
                    justify-content: center;
                    font-size: 40px;
                    
                    background: var(--color-secondary);

                    ion-icon {
                        color: var(--bg-player) !important;
                    }
                }

                .previous, .next {
                    font-size: 40px;
                    color: var(--color-secondary) !important;
                }
            }
        }
    }

}