.content {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    max-height: 50%;
    
    .mb-high {
        margin-bottom: 4rem;
        text-align: center;
    }
}
