
.ion-footer {
  --background: var(--bg-main-gradient);
  --min-height: 50px;

  ion-buttons {
    display: flex;

    ion-button {
      --background: none;
      
      &.active {
        border-radius: 50%;        
        
        ion-icon {
          opacity: 1;
          transform: scale(1.75);
        }
      }

      &:not(.active) {
        opacity: .3;

        ion-icon {
          opacity: 1;
          transform: scale(1.35);
        }
      }

      .has-notification {
        width: 12px;
        height: 12px;
        border-radius: 50%;
        background-color: #ff0000;
        position: absolute;
        right: -5px;
        top: -5px;
      }
    }
  }
}
