
.ion-footer {
  --background: var(--bg-main-gradient);
  --min-height: 50px;

  ion-buttons {
    display: flex;

    ion-button {
      --background: none;
      
      &.active {
        border-radius: 50%;        
        
        ion-icon {
          opacity: 1;
          transform: scale(1.25);
        }
      }

      ion-icon {
        opacity: 0.6;
      }
    }
  }
}
  