@import url('@/styles.scss');
@import "@/styles.scss";

.emptyContainer {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  text-align: center;
  padding: 2rem 1rem;
  margin-top: 35%;
}

.emptyImage {
  width: 250px;
  height: auto;
  margin-bottom: 1rem;
  opacity: 0.9;
}

.emptyTitle {
  font-size: 1.2rem;
  font-weight: 600;
  margin-bottom: 0.3rem;
}

.emptySubtitle {
  font-size: 0.95rem;
  color: var(--ion-color-medium);
}
