@import "@/styles.scss";
@import "@/css/_common.scss";

.ion-content { 
    height: 100%;
    display: flex;
    flex-direction: column;
    
    ion-list {
        background: none;
        flex-grow: 1;
        overflow: auto;

        ion-item-group {
            background: none;
            --background: var(--bg-secondary);

            ion-item-divider {
                @include item-divider-style;

                --background: var(--bg-secondary);
                padding-left: 10px;
            }
        }
    }

    ion-item {
        @include base-ion-item(5px);

        &.message{

            margin-bottom: 5px;

            ion-label {
                @include user-info-label;
            }
        }
        
    }
}