
.logo-google {
    width: 30px;
}

ion-input.login {
    border-radius: 16px;
    width: 100%;
    text-align: justify;    
    
    input {
    }
}

.buttonlink{
    color: var(--color-dark-green);
    font-size: 14px;
    margin-left: 5px;
}

.titlelogin{
    font-size: 24px;
    font-weight: 500;
    margin-bottom: 20px;
}

.subtitlelogin{
    font-size: 12px;
    font-weight: normal;
    margin-bottom: 20px;
}