
.logo-google {
    width: 30px;
}

ion-input.login {
    border-radius: 16px;
    width: 100%;
    text-align: justify;
    --background: linear-gradient(#FFCC33, #FFB347);
    
    input {
        padding-left: 10px !important;
        padding-right: 10px !important;
    }
}