
.logo-google {
    width: 30px;
}

ion-input.login {
    input {
        padding-left: 10px !important;
        padding-right: 10px !important;
    }
    background: linear-gradient(#FFCC33, #FFB347);
}