@font-face {
  font-family: "Nunito";
  src: local("Nunito"),
    url("../assets/fonts/Nunito/Nunito-VariableFont_wght.ttf") format("truetype");
}

@font-face {
  font-family: "Nunito-bold";
  src: local("Nunito-bold"),
    url("../assets/fonts/Nunito/Nunito-VariableFont_wght.ttf") format("truetype");
}


@font-face {
  font-family: "Quicksand";
  src: local("Quicksand"),
    url("../assets/fonts/Quicksand/Quicksand-VariableFont_wght.ttf") format("truetype");
}

@font-face {
  font-family: "Quicksand-bold";
  src: local("Quicksand-bold"),
    url("../assets/fonts/Quicksand/Quicksand-VariableFont_wght.ttf") format("truetype");
}

:root {
  --ion-safe-area-top: env(safe-area-inset-top);
  --ion-safe-area-bottom: env(safe-area-inset-bottom);
}

html,
body {
  font-family: "Nunito", sans-serif;
}

ion-item.ion-no-bg::part(native) {
  background: transparent;
}

ion-content {
  --background: none;
  background: none;
}

ion-tab-bar {
  --background: var(--ion-background-color);
}