@font-face {
    font-family: "arya";
    src: local("arya"),
      url("../assets/fonts/Poppins/Poppins-Regular.ttf") format("woff");
}

@font-face {
    font-family: "arya-bold";
    src: local("arya-bold"),
      url("../assets/fonts/Poppins/Poppins-Bold.ttf") format("woff");
}

:root {
    --bg-main-gradient: linear-gradient(193.17deg, #FFB347 9.48%, #FFCC33 63.67%);
    --bg-card: linear-gradient(193.17deg, #FFD599 20%, #FFE08F 80%);
    --bg-main: #ffc547;

    --color-main-gradient: linear-gradient(to left bottom, #9E9E9E, #FFC90A);
    --color-main: #FFC90A;

    --color-secondary-gradient: radial-gradient(#f1c689 25%, #d3d2d2 100%);
    
    --ion-font-family: arya;

    --bg-primary: #ffc547;
    --bg-secondary: #f6d17f;
    --bg-content: #FFF5EC;
    
    --color-secondary: #F2B10A;
    --ion-color-primary: #ffc547;
    --ion-color: #555;

    --invert: 0;

    font-size: 13px;
}

:root.ion-palette-dark {
  --bg-secondary: #333; /* Color para el fondo en modo oscuro */
}

html, body {
    font-family: arya;
}

body.dark {
  --bg-card: #333;

  --bg-main: none;

  --color-secondary-gradient: none;

  --bg-primary: #ffc547;
  --bg-secondary: #333;
  --invert: 100;
  --ion-color: #fff;

  --ion-backdrop-opacity: 0.75;
  
  ion-content {
    --background: none;
    background: none;
  }
}

ion-header {
 
    ion-button {
      color: #000;
    }
  
    ion-title {
      font-weight: 500;
      color: #fff;;
    }
}

ion-button,
ion-fab-button {
    --background: linear-gradient(to left bottom, #e6b711, #FFC90A);
}

ion-datetime::part(calendar-day):focus {
  background-color: rgba(209, 192, 98, 0.2);
  box-shadow: 0px 0px 0px 4px rgba(209, 202, 98, 0.2);
  color: #000;
}

ion-datetime.md::part(calendar-day active),
ion-datetime.md::part(calendar-day active):focus {
  background-color: #9ad162;
  border-color: #9ad162;
  color: #000;
}

ion-datetime.ios::part(calendar-day active),
ion-datetime.ios::part(calendar-day active):focus {
  background-color: rgb(154 209 98 / 0.2);
  color: #000;
}

a {
  text-decoration: none;
}

ion-chip,
ion-label,
ion-input,
ion-select,
ion-text,
ion-icon,
p,
span,
input{ 
  color: var(--ion-color) !important;
}

.custom-action-sheet {

  .header-container {
    display: flex;
    align-items: center;
    gap: 10px;
    justify-content: flex-start;

    padding-bottom: 12px;
    border-bottom: 1px solid var(--ion-color);

    .avatar {
      width: 40px;
      height: 40px;
      border-radius: 5px;
      object-fit: cover;
    }

    .text-container {
      display: flex;
      flex-direction: column;
      align-items: start;

      .title {
        font-weight: bold;
        font-weight: bold;
        font-size: 1rem;
      }

      .sub-title {
        font-size: 0.8rem;
        color: gray;
      }
    }
  }

  .action-sheet-button {
    min-height: 50px;
    padding-top: 8px;
    padding-bottom: 8px;
  }
}
