@import "@/styles.scss";

.ion-content { 
    ion-list {
        background: none;

        ion-item-group {
            --background: var(--bg-secondary);

            .custom-toggle {
                --track-background: rgba(0, 0, 0, 0.2);
                --track-background-checked: #f5f5f5;
                --handle-background-checked: #00BFA6;
            }
        }

        ion-item-divider {
            @include item-divider-style;
        }
    }

    ion-item {
        @include base-ion-item(3px);

        ion-label {
            text-align: justify;
        }
    }

    .version {
        font-size: .8rem;
    }
}

.bg-menu{
    background: var(--bg-white);
}
