.daysOfWeek {
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.section {
    ion-icon {
        margin-right: 10px;
    }
}

.picker {
    display: flex;
    flex-direction: row;
}

.days {
    width: 100%;
    display: flex;
    justify-content: space-between;

    ion-chip {
        background: var(--bg-white);
        color: var(--txt-darkgray);
        border: 1px solid #eee;
        border-radius: 5px;



    }
}

.dayselected {
    background: var(--bg-p-secondary) !important;
    color: var(--bg-white) !important;
}




ion-picker {
    color: var(--txt-darkgray) ;
  --highlight-background: var(--bg-white);
  --highlight-border-radius: 0px;
  --fade-background-rgb: transparent;
}
